@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #443e80;
}

.accent-bg {
  background-color: #7aaf46;
}

.accent-text {
  color: #7aaf46;
}

.accent-text-alt {
  color: #443e80;
}

.header {
  height: 85vh;
  background-color: #443e80;
  background-image: url(../img/pig.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
}

.header .header-container {
  width: 48%;
}

.header .header-container .header-title {
  color: #fff;
  font-weight: 800;
}

.header .header-container .header-text {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 600;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-menu li {
  margin-right: 2rem;
  padding-bottom: 3px;
}

.nav-menu li:hover {
  padding-bottom: 1px;
  border-bottom: 3px solid #7aaf46;
}

.nav-menu li:hover a {
  color: #7aaf46;
}

.nav-menu li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.buttons button {
  margin-left: 1rem;
}

.btn {
  font-weight: 800;
  text-transform: uppercase;
}

.f10 {
  font-size: 10px;
}

.btn-accent {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #7aaf46;
}

.btn-accent:hover {
  color: #fff;
}

.btn-outline {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #7aaf46;
  color: #fff;
}

.btn-outline:hover {
  color: #fff;
}

.form-container {
  width: 85%;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: #fff;
}

.form-container h3 {
  font-weight: 800;
}

.text-italic {
  font-style: italic;
  opacity: 0.7;
}

.form-control {
  width: 80%;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 12px 5px #dadada54;
          box-shadow: 5px 5px 12px 5px #dadada54;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

.form-control::-ms-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

.form-control::placeholder {
  opacity: 0.7;
  font-style: italic;
}

.benefits {
  text-align: center;
}

.benefits .benefits-title {
  font-size: 3rem;
  color: #443e80;
  font-weight: 800;
  margin: 0;
}

.benefits .benefits-title-alt {
  font-size: 3.3rem;
  color: #7aaf46;
  font-weight: 800;
  margin: 0;
  margin-top: -5px;
}

.benefits p {
  font-weight: 500;
}

.benefits .benefits-text {
  font-style: italic;
  opacity: 0.8;
  font-size: 1.1rem;
}

.benefits .benefits-spot {
  color: #7aaf46;
  font-weight: 800;
}

.benefits .benefits-row {
  margin-top: 6rem;
}

.invest {
  height: 450px;
  background: url(../img/concept-hand-holding-money-growing-small-plant_34152-662.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invest .background {
  height: 100%;
  width: 100%;
  background: rgba(68, 62, 128, 0.7);
}

.invest .invest-container {
  height: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invest .invest-container h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.invest .invest-container p {
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  width: 70%;
}

.invest .invest-container button {
  font-size: 1.4rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
}

.trade-section .trade-box h2 {
  font-weight: 800;
}

.trade-section .trade-box p {
  font-weight: 500;
}

.trade-section button {
  font-size: 1.4rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
}

.footer {
  background: #443e80;
  color: #fff;
}

.footer .col-lg-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer p {
  margin: 0;
}

.footer i {
  font-size: 1.3rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  padding: 0;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer .font-bold {
  font-weight: 700;
  line-height: 1.3;
}

.footer button {
  font-size: 1.2rem;
  padding-inline: 2rem;
  padding-block: 0.3rem;
}

.spot-footer {
  background: #7aaf46;
  color: #fff;
}

.spot-footer p {
  font-size: 0.6rem;
}
/*# sourceMappingURL=styles.css.map */