@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color-background: #443e80;
$color-accent: #7aaf46;

* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: $color-background;
}

.accent-bg {
  background-color: $color-accent;
}

.accent-text {
  color: $color-accent;
}

.header {
  height: 85vh;
  background-color: $color-background;
  background-image: url(../img/pig.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;

  .header-container {
    width: 48%;
    .header-title {
      color: #fff;
      font-weight: 800;
    }

    .header-text {
      color: #fff;
      font-size: 1.3rem;
      line-height: 1;
      font-weight: 600;
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;

  li {
    margin-right: 2rem;
    padding-bottom: 3px;

    &:hover {
      padding-bottom: 1px;
      border-bottom: 3px solid #7aaf46;

      a {
        color: $color-accent;
      }
    }

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.buttons {
  button {
    margin-left: 1rem;
  }
}

.btn {
  font-weight: 800;
  text-transform: uppercase;
}

.f10 {
  font-size: 10px;
}

.btn-accent {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  background-color: $color-accent;
}

.btn-outline {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid $color-accent;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.form-container {
  width: 85%;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: #fff;

  h3 {
    font-weight: 800;
  }
}

.text-italic {
  font-style: italic;
  opacity: 0.7;
}

.form-control {
  width: 80%;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 12px 5px #dadada54;

  &::placeholder {
    opacity: 0.7;
    font-style: italic;
  }
}

.benefits {
  text-align: center;

  .benefits-title {
    font-size: 3rem;
    color: $color-background;
    font-weight: 800;
    margin: 0;
  }
  .benefits-title-alt {
    font-size: 3.3rem;
    color: $color-accent;
    font-weight: 800;
    margin: 0;
    margin-top: -5px;
  }

  p {
    font-weight: 500;
  }

  .benefits-text {
    font-style: italic;
    opacity: 0.8;
    font-size: 1.1rem;
  }

  .benefits-spot {
    color: $color-accent;
    font-weight: 800;
  }

  .benefits-row {
    margin-top: 6rem;
  }
}
